{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}

    {# Hero Section #}
    <div class="mkt-s1">
        <div class="mkt-s1-body container ">
            <div class="row">
                <h1 class="col-md-8">Never Miss Another Opportunity</h1>
            </div>
            <div class="row">
                <p class="col-md-8">A CRM application that lets you track
                all of your customers, meetings, notes,
                and plans. Never forget an important
                contact or follow up task again.</p>
            </div>
            <div class="row">
                {# First Signup Link #}
                <a href=""
                   class="sign-up btn btn-success">Sign Up Now for $15/month!
                </a>
            </div>
        </div>
    </div>
    {# Main Section #}

{% endblock content %}